.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards.small > ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.cards.overlay > ul > li {
    position: relative;
    background-color: unset;
}

.cards.overlay .cards-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}

.cards.overlay li.dark {
    background-color: var(--dark-gray);
}

.cards.overlay li.dark .cards-card-body{
    aspect-ratio: unset;
    height: unset;
}

.cards.overlay .cards-card-image picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.cards.overlay > ul > li img {
    height: 100%;
}

.cards.overlay .button:any-link {
    background-color: var(--dark-overlay);
}
