header .cart {
    position: relative;
}

header .cart .cart-badge {
    position: absolute;
    background-color: var(--link-color);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    top: -14px;
    right: -13px;
    color: var(--background-color);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

header .cart .cart-mini {
    position: absolute;
    display: none;
    right: -74px;
    width: 90vw;
    top: 45px;
    background-color: #eee;
    padding: 20px;
}

header .cart .cart-badge:empty {
    display: none;
}

header .cart .cart-badge:empty + .cart-mini {
    display: none;
}

header .cart .cart-mini.visible{
    display: block;
};

header .cart .cart-display {
    font-size: var(--body-font-size-m);
}

header .cart .cart-items {
    max-height: 60vh;
    overflow-y: scroll;
}

header .cart .cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 32px 0;
}

header .cart .cart-item.cart-item-invalid {
    background-color: #fdd;
}

header .cart .cart-item.cart-item-invalid .cart-item-details::after {
    color: red;
    content: 'Item not in catalog';
}

header .cart .cart-item-details {
    flex: 1;
    padding: 0 20px;
}

header .cart .cart-item h6 {
    padding: 0;
    margin: 0;
} 

header .cart .cart-item p, header .cart .cart-header {
    margin: 0;
    font-size: var(--body-font-size-m);
}

header .cart .cart-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid grey;
}

header .cart .cart-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

header .cart .cart-controls p {
    text-align: center;
    margin: 0;
}


header .cart .cart-display .cart-item-image img {
    display: block;
    width: 100px;
    flex: 0 0 100px;
}

header .cart .cart-display .icon-trashcan {
    display: block;
    width: 40px;
    height: 16px;
    flex: 0 0 40px;
}

@media (min-width: 1000px) {
    header .cart .cart-mini {
        position: absolute;
        display: none;
        right: -20px;
        width: 480px;
        top: 45px;
        background-color: #eee;
        padding: 20px;
    }
}