body > .breadcrumbs-wrapper {
  margin: 12px 32px;
}

.breadcrumbs ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.breadcrumbs li {
    display: inline;
    font-size: var(--body-font-size-s);
}

.breadcrumbs li:not(:last-child) {
  text-decoration: underline;
}

.breadcrumbs li:not(:first-child)::before {
    content: "|";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: none;
}

.breadcrumbs.trim li:first-of-type {
  display: none;
}

.breadcrumbs.trim li:last-of-type {
  display: none;
}

@media (min-width: 900px) {
  .breadcrumbs-wrapper {
    max-width: 1590px;
    margin: auto;
    width: 100%;
  }

  .breadcrumbs li:not(:first-child)::before {
    content: "|";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: none;
  }

  .breadcrumbs.trim li:not(:first-child):not(:nth-child(2))::before {
      content: "|";
  }

  .breadcrumbs li:first-of-type {
    display: inline;
  }

  .breadcrumbs li:last-of-type {
      display: inline;
  }

  .breadcrumbs.trim li:first-of-type {
    display: inline;
  }

  .breadcrumbs.trim li:last-of-type {
      display: inline;
  }
}