/* header and nav layout */
header nav {
  display: grid;
  grid-template:
    'topbar topbar topbar'
    'brand tools hamburger'
    'search search search'
    'sections sections sections';
  grid-template-columns: 200px 1fr 50px;
  grid-template-rows: 34px 1fr;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  width: 100vw;
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'topbar topbar''brand hamburger''sections sections''tools tools''search search';
  grid-template-columns: 1fr;
  overflow-y: scroll;
  min-height: 100vh;
}

/* topbar */
header .nav-topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-background-color);
  color: var(--background-color);
  width: 100%;
  font-size: var(--body-font-size-xs);
  grid-area: topbar;
  height: 34px;
  padding: 10px 14px;
  box-sizing: border-box;
  align-items: center;
}

header .nav-topbar p {
  margin: 0;
}

header .nav-topbar .language-switcher .canada-flag {
  width: 11px;
  height: auto;
  margin-left: 5px;
}

header .nav-topbar .language-switcher svg {
  width: 7px;
  height: auto;
  margin-left: 10px;
  color: #fff;
  transform: rotate(90deg);
}

header .nav-topbar select {
  background-color: #374f61;
  border-radius: 4px;
  padding-left: 10px;
  border: 1px solid #092a42;
  margin-right: 10px;
  color: #fff;
}


/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #f5f7f6;
}

header .nav-brand img {
  width: 141px;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 64px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  padding-top: 13px;
  cursor: pointer;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f7f6;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  list-style: none;
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: var(--overlay-color);
  flex: 1 1 auto;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  display: flex;
  justify-self: end;
  background-color: #f5f7f6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: end;
}

header nav .nav-tools p {
  margin: 0;
  display: flex;
  align-items: center;
}

header nav .nav-tools svg {
  height: 22px;
  width: 22px;
  margin: 0 10px
}


header .nav-search {
  grid-area: search;
  padding: 0 20px;
  background-color: #dde1e4;
  display: flex;
  align-items: center;
  height: 53px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

header .nav-search input {
  padding: 10px 27px 10px 7px;
  background-color: var(--background-color);
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--text-color);
}

header .nav-search-suggestions {
  position: absolute;
  background-color: var(--overlay-background-color);
  width: calc(100% - 42px);
  top: 47px;
  border: 1px solid var(--highlight-background-color);
  box-shadow: 0 30px 60px -40px rgb(31 38 23 / 50%);
  display: none;
}

header .nav-search-suggestions .light {
  color: var(--highlight-background-color);
}

header .nav-search-suggestions .highlight {
  background-color: var(--link-color);
  font-weight: 600;
  color: var(--background-color);
}

header .nav-search-suggestions .light .highlight {
  background-color: var(--highlight-background-color);
  color: var(--background-color);
}


header .nav-search .nav-search-suggestions.visible {
  display: unset;
}

header .nav-search-suggestions>div {
  padding: 6px 12px;
  border-bottom: 1px solid var(--highlight-background-color);
  font-size: var(--body-font-size-xs)
}

header nav .nav-search p {
  display: inline;
  margin: 0;
  margin-left: -35px;
  transform: translate(0, 5px);
}

header nav[aria-expanded='true'] .nav-tools svg {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}


/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    display: grid;
    grid-template: 'topbar topbar topbar''brand search tools''sections sections sections  ';
    justify-content: space-between;
    grid-template-columns: 150px 1fr 112px;

  }

  header nav .nav-sections {
    background-color: var(--nav-background-color);
    display: unset;
    list-style: none;
  }

  header nav .nav-sections .level-1 {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
    list-style: none;
  }

  /** Level 1 **/
  header nav .nav-sections .level-1 > li {
    padding: 0 25px;
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    user-select: none;
  }

  header nav .nav-sections .level-1 > li .nav-hamburger-icon {
    top: 0;
    display: inline-block;
  }
    
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] {
    background-color: var(--link-color);
    color:#fff;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 {
    color: var(--text-color);
    margin-top: 14px;
    display: none;
    position: relative;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 .nav-group-title {
    color: var(--link-color);
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    padding: 10px 0px;
    padding-left: 25px;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 > li {
    border-bottom: 1px solid var(--border-color);
    font-size: var(--body-font-size-s);
    padding: 8px 0px;
    padding-left: 25px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 > li .disclosureArrow {
    width: 8px;
    display: none;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 > li:not(.nav-group-title):hover {
    background-color: var(--link-color);
    color: #fff;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 > li:hover .disclosureArrow {
    display: block;
  }

  /** Level 2 **/  
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 {
    display: block;
    position: absolute;
    background-color: var(--highlight-background-color);
    width: 300px;
    padding-left: 0px;
    left: 0;
    box-shadow: 0 0 5px var(text-color);
    top: 38px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li.hidden {
    display: none; 
  }

  /** Level 3 **/
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li > .level-3 {
    display: none;
    list-style: none;
    min-height: 640px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 35px repeat(2,1fr);
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100vw - 440px);
    height: 100%;
    background-color: #fff;
    columns: 2;
    margin: 0;
    padding: 35px 50px;
    gap: 0.5em 24px;
    overflow-y: scroll;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > .nav-group-title{
    grid-column: 1/span 4;
    font-size: var(--body-font-size-l);
    font-weight: 600;
    padding-left: 0px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > li:not(.nav-group-title) {
    font-size: var(--body-font-size-l);
    font-weight: 400;
    box-sizing: border-box;
    margin-bottom: 6px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > li > a{
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
  }

  /** Level 4 **/
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > li > .level-4 {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 10px;
    font-size: var(--body-font-size-s);
  }

  header nav .nav-hamburger {
    display: none;
  }


  header nav .nav-brand {
    flex: 0 0 150px;
    height: 66px;
  }

  header nav .nav-brand img {
    width: 141px;
  }

  header .nav-search {
    height: 100%;
    background-color: #f5f7f6;
  }

  header .nav-tools .nav-tools-search {
    position: unset;
  }

  header .nav-tools {
    padding-right: 32px;
  }

  header .nav-search-suggestions {
    top: 53px;
  }

}