/* header and nav layout */
header nav {
  width: 100%;
  display: grid;
  grid-template:
    'topbar topbar topbar'
    'toolbar toolbar toolbar'
    'search search search'
    'breadcrumbs breadcrumbs breadcrumbs';
  grid-template-columns: 200px 1fr 50px;
  grid-template-rows: 34px 1fr;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'topbar topbar''toolbar toolbar''sections sections''search search' 'breadcrumbs breadcrumbs';
  grid-template-columns: 1fr;
}

/* topbar */
header .nav-topbar-wrapper {
  max-width: 1640px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header .nav-topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-background-color);
  color: var(--background-color);
  width: 100%;
  font-size: var(--body-font-size-xs);
  grid-area: topbar;
  height: 34px;
  padding: 10px 14px;
  box-sizing: border-box;
  align-items: center;
}

header .nav-topbar p {
  margin: 0;
}

header .nav-topbar .language-switcher .canada-flag {
  width: 11px;
  height: auto;
  margin-left: 5px;
}

header .nav-topbar .language-switcher svg {
  width: 7px;
  height: auto;
  margin-left: 10px;
  color: #fff;
  transform: rotate(90deg);
}

header .nav-topbar select {
  background-color: #374f61;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #092a42;
  margin-right: 10px;
  color: #fff;
}

/* nav-sections */

header .nav-sections .level-1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .nav-sections .level-1 > li {
  border-bottom: 1px solid var(--border-color);
  list-style: none;
}

header .nav-sections .level-1 .nav-drop ul {
  display: none;
}

header .nav-sections .level-1 li u,
header .nav-sections .level-1 li a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

header .nav-sections .level-1 .nav-drop .level-2 {
  display: none;
  margin: 0;
  padding: 0;
}

header .nav-sections .level-1 .nav-drop .level-2 > li {
  padding-left: 20px;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

/** Level 2 **/  
header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 {
  display: block;
}

header nav .nav-sections .level-1 .nav-drop .level-2 > li .disclosure-arrow {
  width: 8px;
  display: none;
}

header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li.hidden {
  display: none; 
}

header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 .nav-group-title{
  display: none;
}

/* Search */
header .nav-search-suggestions {
  position: absolute;
  background-color: var(--overlay-background-color);
  width: calc(100% - 42px);
  top: 47px;
  border: 1px solid var(--highlight-background-color);
  box-shadow: 0 30px 60px -40px rgb(31 38 23 / 50%);
  display: none;
}

header .nav-search-suggestions > div {
  padding: 6px 12px;
  border-bottom: 1px solid var(--highlight-background-color);
  font-size: var(--body-font-size-xs)
}

header .nav-search-suggestions .light {
  color: var(--highlight-background-color);
}

header .nav-search-suggestions .highlight {
  background-color: var(--link-color);
  font-weight: 600;
  color: var(--background-color);
}

header .nav-search-suggestions .light .highlight {
  background-color: var(--highlight-background-color);
  color: var(--background-color);
}

header .nav-search .nav-search-suggestions.visible {
  display: unset;
}

header nav .nav-search p {
  display: inline;
  margin: 0;
  margin-left: -35px;
  transform: translate(0, 5px);
}

/* nav-toolbar */
header .nav-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: toolbar;
  height: 55px;
}

header .nav-toolbar .nav-toolbar-logo {
  max-width: 153px;
  height: 57px;
}

header .nav-toolbar .nav-toolbar-logo img {
  max-width: 139px;
  height: auto;
  padding-top: 5px;
  padding-left: 15px;
}

header .nav-toolbar .nav-toolbar-actions {
  display: flex;
  align-items: center;
  height: 55px;
}

header .nav-toolbar .nav-toolbar-actions > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
  font-size: var(--body-font-size-xs);
  border-left: 1px solid var(--border-color);
  height: 100%;
  cursor: pointer;
}

header .nav-toolbar .nav-toolbar-actions > div:hover{
  background-color: var(--overlay-background-color);
}

header .nav-toolbar .nav-toolbar-actions > div .icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

header .nav-toolbar .nav-toolbar-actions .account .icon svg{
  padding-top: 3px;
  width: 18px;
}

header .nav-toolbar .nav-toolbar-actions .cart .icon svg{
  padding-top: 3px;
  width: 22px;
}

header .nav-toolbar .nav-toolbar-actions .hamburger .icon svg {
  padding-top: 1px;
  width: 20px;
}

/* sections */
header nav .nav-sections {
  list-style: none;
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: var(--overlay-color);
  flex: 1 1 auto;
}

header nav[aria-expanded='true'] .nav-sections {
  display: flex;
}

/* nav-search */
header .nav-search {
  grid-area: search;
  padding: 0 15px;
  background-color: #F4F6F5;
  display: flex;
  align-items: center;
  height: 53px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

header .nav-toolbar .nav-search {
  display: none;
}

header .nav-search input {
  padding: 10px 27px 10px 7px;
  background-color: var(--background-color);
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 0 solid #fff;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  padding-top: 13px;
  cursor: pointer;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f7f6;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header .nav-sections .level-1 .nav-drop .nav-hamburger-icon {
  display: none;
}

header nav .breadcrumbs-wrapper {
  grid-area: breadcrumbs;
  height: 68px;
  padding-left: 20px;
  width: 100%;
}

/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    display: grid;
    grid-template: 'topbar topbar topbar''toolbar toolbar toolbar''sections sections sections' 'breadcrumbs breadcrumbs breadcrumbs';
    justify-content: space-between;
    grid-template-columns: 150px 1fr 112px;
  }

  header .nav-toolbar {
    max-width: 1640px;
    margin: auto;
    width: 100%;
  }

  header .nav-toolbar .nav-toolbar-logo img {
    padding-left: 15px;
    cursor: pointer;
  }

  header nav .nav-sections {
    background-color: var(--nav-background-color);
    display: unset;
    list-style: none;
  }

  header nav .nav-sections .level-1 {
    display: flex;
    flex-direction: row;
    background-color: unset;
    list-style: none;
    max-width: 1640px;
    margin: auto;
    width: 100%;
  }

  /** Level 1 **/
  header nav .nav-sections .level-1 > li {
    padding: 0 25px;
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    user-select: none;
    border-bottom: 0 solid var(--border-color);
  }

  header .nav-sections .level-1 li u,
  header .nav-sections .level-1 li a {
    padding: 0;
    text-decoration: inherit;
  }

  header .nav-sections .level-1 li a:hover {
    text-decoration: underline;
  }

  header .nav-sections .level-1 .nav-drop ul {
    display: block;
  }

  header .nav-sections .level-1 .nav-drop .nav-hamburger-icon {
    top: 0;
    display: inline-block;
  }
    
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] {
    background-color: var(--link-color);
    color:#fff;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 {
    color: var(--text-color);
    margin-top: 14px;
    display: none;
    position: relative;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 .nav-group-title {
    color: var(--link-color);
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    padding: 10px 0;
    padding-left: 25px;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 > li {
    border-bottom: 1px solid var(--border-color);
    font-size: var(--body-font-size-s);
    padding: 8px 0;
    padding-left: 25px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 > li:not(.nav-group-title):hover {
    background-color: var(--link-color);
    color: #fff;
  }

  header nav .nav-sections .level-1 .nav-drop .level-2 > li:hover .disclosure-arrow {
    display: block;
  }

  /** Level 2 **/  
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 {
    display: block;
    position: absolute;
    background-color: var(--highlight-background-color);
    width: 300px;
    padding-left: 0;
    left: 0;
    box-shadow: 0 0 5px var(text-color);
    top: 38px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 .nav-group-title  {
    display: block;
  }

  /** Level 3 **/
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li > .level-3 {
    display: none;
    list-style: none;
    min-height: 640px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 35px repeat(2,1fr);
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100vw - 440px);
    height: 100%;
    background-color: #fff;
    columns: 2;
    margin: 0;
    padding: 35px 50px;
    gap: 0.5em 24px;
    overflow-y: scroll;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > .nav-group-title{
    grid-column: 1/span 4;
    font-size: var(--body-font-size-l);
    font-weight: 600;
    padding-left: 0;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > li:not(.nav-group-title) {
    font-size: var(--body-font-size-l);
    font-weight: 400;
    box-sizing: border-box;
    margin-bottom: 6px;
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > li > a{
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
  }

  /** Level 4 **/
  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > li > .level-4 {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 10px;
    font-size: var(--body-font-size-s);
  }

  header nav .nav-sections .level-1 .nav-drop[aria-expanded='true'] .level-2 > li:hover .level-3 > li > .level-4 li {
    padding-bottom: 5px;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-search {
    display: none;
  }

  header nav .nav-toolbar .nav-search.desktop {
    display: flex;
    height: 100%;
    padding: 0 25px;
    background-color: #fff;
  }

   header nav .nav-toolbar .nav-search.desktop input {
    border: 1px solid var(--border-color);
  }

  header .nav-tools .nav-tools-search {
    position: unset;
  }

  header .nav-toolbar .nav-toolbar-actions .hamburger {
    display: none;
  }

  header .nav-search-suggestions {
    top: 53px;
  }

}