/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}
  
main .hero {
    position: relative;
    padding: 2rem;
    min-height: 420px;
    color: white;
    text-align: center;
}

main .hero > * {
    margin: auto;
    max-width: 768px;
}

main .hero h1 {
    margin: 0 auto;
}

.solution main .hero h1 {
    display: none;
}

.solution main .hero {
   margin-bottom: 64px; 
}

main .hero picture {
    position: absolute;
    left: 35px;
    bottom: -64px;
    background-color: var(--bright-blue);
}

main .hero img {
    width: 350px;
    box-sizing: border-box;
    padding: 32px;
}

main .hero p:first-of-type picture {
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero p:first-of-type img {
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {    
    .solution main .hero h1 {
        margin-left: 200px;
        max-width: 400px;
        min-height: 420px;    
    }    
}