
main .products-controls {
    text-align: center;
}

main .products-controls button {
    display: inline-block;
    width: unset;
}

main .products-facets  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #0008;
}

main .products-facets > div {
    padding: 0;
    overflow-y: scroll;
    width: 360px;
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    pointer-events: none;
}

main .products-facets > div::after {
    position: absolute;
    background-image: url('./close.svg');
    background-size: contain;
    content: ' ';
    right: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    pointer-events: all;
}

main .products-facets > div > * {
    pointer-events: all;
}


main .products-facets .products-filters {
    flex: 1;
    overflow-y: scroll;
}

main .products-facets .products-apply-filters {
    flex: 0;
    height: 200px;
    padding: 16px 0;
    text-align: center;
}

main .products-filters-selected span {
    background-color: var(--medium-background-color);
    padding: 10px 12px 10px 38px;
    border-radius: 6px;
    color: var(--background-color);
    background-image: url('./close-white.svg');
    background-size: 25px;
    background-position: 8px;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: var(--body-font-size-s);
}

main .products-facet {
    border-top: 2px solid #ccc;
    padding-bottom: 14px;
    margin: 20px 0;
}

main .products-filters-selected:empty + p {
    display: none;
}

main .products-facets button {
    font-size: var(--body-font-size-s);
    width: unset;
    margin: 0;
}

main .products-facets h2 {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-l);
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

main .products-facets h3 {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    font-weight: 400;
    margin: 17px 0;
}


main .products-facets input[type="checkbox"] {
    display: none;
}

main .products-facets label {
    display: block;
    padding-left: 30px;
    background-image: url('./checkbox.svg');
    background-size: 20px;
    background-position: 0 3px;
    background-repeat: no-repeat;
    margin: 16px 0;
    font-size: var(--body-font-size-s);
}

main .products-facets :checked + label {
    background-image: url('./checked.svg');
}

main .products-facets.visible {
    display: block;
}

main .products-sortby {
    text-align: center;
    font-size: var(--body-font-size-s);
    position: relative;
}

main .products-sortby ul {
    display: none;
    position: absolute;
    top: -40px;
    right: calc(50% - 105px);
    z-index: 1;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    text-align: left;
    list-style: none;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 var(--overlay-background-color);
    font-size: var(--body-font-size-m);
    min-width: 190px;
}

main .products-sortby ul li {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

main .products-sortby ul li.selected {
    background: url('./checkmark.svg') center right 10px no-repeat;
}

main .products-sortby ul li:hover {
    background-color: #eee;
}

main .products-sortby ul.visible {
    display: block;
}


main .products-results {
    font-size: var(--body-font-size-m);
}

main .products-results > div {
    display: flex;
    border: 1px solid var(--highlight-background-color);
    margin: 10px 0;
    box-shadow: 0 2px 5px 0 var(--overlay-background-color);
}

main .products-results > div > a {
    flex: 0 0 120px;
    line-height: 0;
    margin-right: 16px;
}

main .products-results .products-card-detail {
    flex: 1;
}

main .products-results .products-card-details p {
    margin: 0;
    font-size: var(--body-font-size-s);
}

main .products-results img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}


main .products-results a.button:any-link {
    font-size: var(--body-font-size-xs);
    padding: 4px 15px;
    text-transform: uppercase;
}


main .products-results h4 {
    font-size: var(--body-font-size-s);
    font-family: var(--body-font-family);
}

main .products-results .highlight {
    background-color: var(--link-color);
    color: var(--background-color);
    padding: 0 2px;
}

@media (min-width: 900px) {
    main .products-facets > div::after {
        display: none;
    }

    main .products-facets .products-apply-filters {
        display: none;
    }

    main .products-facets  {
        z-index: unset;
        height: unset;
        display: block;
        background: unset;
        grid-area: facets;
        position: unset;
        width: 360px;
    }

    main .products-facets > div {
        height: unset;
    }

    main .products-facets .products-filters {
        overflow-y: unset;
        height: unset;
    }

    main .products-results {
        grid-area: results;
    }

    main .products-controls {
        grid-area: controls;
        text-align: left;
    }

    main .products-controls button {
        display: none;
    }

    main .products {
        display: grid;
        grid-template-areas: 'controls controls sortby' 'facets results results';
        grid-template-columns: 376px 1fr;
    }

    main .products-sortby {
        display: unset;
        grid-area: sortby;
        text-align: right;
    }

    main .products-sortby p {
        display: inline-block;
        border-radius: 5px;
        border: 2px solid #888;
        padding: 5px 45px 5px 15px;
        font-size: var(--body-font-size-m);
        background: url('./chevron-down.svg') center right 10px no-repeat;
    }


    main .products-sortby ul {
        top: 40px;
        right: 0;
        z-index: 1;
        background-color: var(--background-color);
        border: 1px solid #ddd;
        text-align: left;
        list-style: none;
        padding: 0;
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 var(--overlay-background-color);
        font-size: var(--body-font-size-m);
        min-width: 190px;
    }    
}

