main bread-crumbs {
    grid-area: breadcrumbs;
}

main .category-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2c2929;
}

main .results-container .products-facets button {
    font-size: var(--body-font-size-s);
    width: unset;
    margin: 0;
}

main .results-container .products-facets h2 {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-l);
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

main .results-container .products-facets h3 {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    font-weight: 400;
    margin: 0;
}

main .results-container .products-facets label {
    display: block;
    padding-left: 30px;
    background-image: url('./checkbox.svg');
    background-size: 20px;
    background-position: 0 3px;
    background-repeat: no-repeat;
    margin: 16px 0;
    font-size: var(--body-font-size-s);
}

main .products-facets :checked + label {
    background-image: url('./checked.svg');
}

main .category-title h1 {
    font-size: var(--heading-font-size-xl);
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.1em;
}

main .category-title .products-results-count {
    margin: 0;
    padding-bottom: 3px;
}

main .results-container .products-controls {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

main .results-container .products-results img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

main .results-container .products-controls button {
    display: inline-block;
    width: unset;
}

main .results-container .products-facets  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #0008;
}

main .results-container .products-facets > div {
    padding: 0;
    width: 360px;
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    pointer-events: none;
}

main .results-container .products-facets > div::after {
    position: absolute;
    background-image: url('./close.svg');
    background-size: contain;
    content: ' ';
    right: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    pointer-events: all;
}

main .results-container .products-facets > div > * {
    pointer-events: all;
}

main .results-container .products-facet img {
    width: 10px;
}

main .results-container .products-facets .products-filters {
    flex: 1;
    overflow-y: scroll;
}

main .results-container .products-facets .products-filters h2 {
    margin-bottom: 5px;
}

main .results-container .products-facets .products-filters img {
    width: 12px;
    padding-right: 5px;
}


main .results-container .products-facets .products-apply-filters {
    flex: 0;
    height: 200px;
    padding: 16px 0;
    text-align: center;
}

main .results-container .products-filters-selected span {
    background-color: var(--medium-background-color);
    padding: 10px 12px 10px 38px;
    border-radius: 6px;
    color: var(--background-color);
    background-image: url('./close-white.svg');
    background-size: 25px;
    background-position: 8px;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: var(--body-font-size-s);
}

main .results-container .products-facets input[type="checkbox"] {
    display: none;
}

main .results-container .products-facet {
    cursor: pointer;
    border-top: 1px solid #ccc;
    padding: 10px;
}

main .results-container .products-facet h3 {
    display: flex;
    justify-content: space-between;
}

main .results-container .products-facet[aria-expanded="true"] img {
    transform: rotate(90deg);
}

main .results-container .products-facet .products-facet-options {
    display: none;
}

main .results-container .products-filters-selected:empty + p {
    display: none;
}

main .results-container .products-facets.visible {
    display: block;
}

main .results-container .products-sortby {
    text-align: center;
    font-size: var(--body-font-size-s);
    position: relative;
}

main .results-container .products-sortby ul {
    display: none;
    position: absolute;
    top: -40px;
    right: calc(50% - 105px);
    z-index: 1;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    text-align: left;
    list-style: none;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 var(--overlay-background-color);
    font-size: var(--body-font-size-m);
    min-width: 190px;
}

main .results-container .products-sortby ul li {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

main .results-container .products-sortby ul li.selected {
    background: url('./checkmark.svg') center right 10px no-repeat;
}

main .results-container .products-sortby ul li:hover {
    background-color: #eee;
}

main .results-container .products-sortby ul.visible {
    display: block;
}

main .results-container .products-results {
    font-size: var(--body-font-size-s);
    color: #646464;
    line-height: 18px;
}

main .results-container .products-results .products-card {
    display: flex;
    border: 1px solid var(--border-color);
    margin: 10px 0;
    padding: 10px;
    padding-top: 0;
}

main .results-container .products-results .products-card > a {
    flex: 0 0 120px;
    line-height: 0;
    margin-right: 16px;
}

main .results-container .products-results .products-card .products-card-details {
    flex: 1;
    padding-top: 10px;
}

main .results-container .products-results .products-card-details p {
    margin: 0;
    font-size: var(--body-font-size-s);
}

main .results-container .products-results .products-card-details h4 {
   margin-top: 0;
}

main .results-container .products-results .products-card-details a {
   color: var(--text-color);
}

main .results-container .products-results a.button:any-link {
    font-size: var(--body-font-size-xs);
    padding: 4px 15px;
    text-transform: uppercase;
}

main .results-container .products-results .highlight {
    background-color: var(--link-color);
    color: var(--background-color);
    padding: 0 2px;
}

main .results-container .products-results .pagination-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .results-container .products-results .pagination-container .pagination .pagination-root {
    grid-column-gap: 0.7rem;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}

main .results-container .products-results .pagination-container .pagination .pagination-root .pagination-tilebutton {
    font-weight: 400;
    grid-row-start: 1;
    line-height: 1.2;
    cursor: pointer;
}

main .results-container .products-results .pagination-container .pagination .pagination-root .pagination-tilebutton.active {
    font-weight: 700;
}

main .results-container .products-results .pagination-container .pagination .pagination-root .pagination-tilebutton.active:hover {
    color:#000;
    text-decoration: none;
    pointer-events: none;
    user-select: none;
}

main .results-container .products-results .pagination-container .pagination .pagination-root .pagination-navbutton {
    font-weight: 700;
    grid-row-start: 1;
    outline: none;
}

main .results-container .products-results .pagination-container .pagination .pagination-root .pagination-navbutton .pagination-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #000;
}

main .results-container .products-results .pagination-container .pagination .pagination-root .pagination-navbutton .pagination-icon:hover {
    color: var(--link-hover-color);
}

main .results-container .products-results .pagination-container .pagination .pagination-root .pagination-navbutton .pagination-icon.disabled {
   color: #ccc;
   pointer-events: none;
   user-select: none;
}

@media (min-width: 900px) {
    main .category-title {
        gap: 20px;
        flex-direction: unset;
        align-items: flex-end;
    }

    main .results-container {
        display: grid;
        grid-template-areas:
            'title title title'
            'controls controls sortby'
            'facets results results';
        grid-template-columns: 376px 1fr;
    }

    main .results-container .products-results .products-card-details h4 {
        font-size: var(--heading-font-size-s);
    }

    main .results-container .products-facets > div::after {
        display: none;
    }

    main .results-container .products-facets .products-apply-filters {
        display: none;
    }

    main .results-container .products-facets  {
        z-index: unset;
        height: unset;
        display: block;
        background: unset;
        grid-area: facets;
        position: unset;
        width: 360px;
    }

    main .results-container .products-facets > div {
        height: unset;
    }

    main .results-container .products-facets .products-filters {
        overflow-y: unset;
        height: unset;
    }

    main .results-container .products-results {
        grid-area: results;
    }

    main .results-container .products-controls {
        grid-area: controls;
        text-align: left;
    }

    main .results-container .products-controls button {
        display: none;
    }

    main .results-container .products-sortby {
        display: unset;
        grid-area: sortby;
        text-align: right;
    }

    main .results-container .products-sortby p {
        display: inline-block;
        border-radius: 5px;
        border: 2px solid #888;
        padding: 5px 45px 5px 15px;
        font-size: var(--body-font-size-m);
        background: url('./chevron-down.svg') center right 10px no-repeat;
    }

    main .results-container .products-sortby ul {
        top: 40px;
        right: 0;
        z-index: 1;
        background-color: var(--background-color);
        border: 1px solid #ddd;
        text-align: left;
        list-style: none;
        padding: 0;
        border-radius: 3px;
        box-shadow: 0 2px 5px 0 var(--overlay-background-color);
        font-size: var(--body-font-size-m);
        min-width: 190px;
    }    
}

