.account-summary-container h1 {
    margin: 0 0 1.5rem;
    font-size: var(--heading-font-size-l);
}

.account-summary-container>div {
    margin: 0;
}

.summary-section {
    margin: 1rem 1rem 4rem;
}

.summary-section>span {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
    padding-bottom: 0.4rem;
}

.summary-section>span h2 {
    margin: 0;
    font-size: var(--heading-font-size-m);
}

.summary-section .contact-info p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.summary-section .addresses {
    display: flex;
    flex-direction: row;
}

.summary-section .address-tile {
    margin: 0.5rem 2.5rem;
    padding: 0 5rem 0 0;
    align-self: flex-end;
    position: relative;
}

.summary-section .address-tile:not(:last-child)::after {
    content: ' ';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
    border-right: solid rgba(0, 0, 0, 0.3) 1px;
}

.summary-section .address-tile p {
    font-size: var(--body-font-size-s);
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.summary-section .address-tile .is-default {
    display: flex;
    align-items: center;
    margin: 0 0 4px;
    color: green;
}

/* .summary-section .address-tile .is-not-default {
    min-height: 20px;
    display: block;
} */

.summary-section .address-tile .is-default p {
    font-weight: 600;
}

.summary-section .address-tile .is-default .icon {
    position: relative;
    display: inline-block;
    background: green;
    height: 19px;
    width: 19px;
    margin-right: 0.3rem;
    border-radius: 50%;
}

.summary-section .address-tile .is-default .icon img {
    position: relative;
    top: 0px;
    filter: invert(100%);

}