.account-nav {
    margin: 20px 32px 32px;
    background-color: var(--nav-background-color);
}

.nav-group {
    font-size: var(--body-font-size-m);
    margin: var(--gap);
    padding-bottom: var(--gap);
}

.nav-group:not(:last-child) {
    border-bottom: 2px solid #0000004d;
}

.nav-group ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

.nav-group.account {
    font-size: var(--body-font-size-s);
}

.nav-group.account .account-wrapper {
    padding: var(--gap) var(--gap) 0;
    margin: calc(var(--gap) * -1) calc(var(--gap) * -1) 0;
    position: relative;
}

.nav-group.account .account-wrapper::before {
    content: '';
    position: absolute;
    left: -1px;
    width: 4px;
    height: 35%;
    background: var(--brand-color);
    top: 25%;
}

.nav-group.account p {
    margin: 0;
    font-weight: 600;
}

:root {
    --gap: 1.3rem;
}