/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #0099d8;
  --brand-color: #0099d8;
  --link-hover-color: #0099d8;
  --background-color: #f8f8f8;
  --medium-background-color: #092a42;
  --overlay-background-color: #eee;
  --highlight-background-color: #f4f6f5;
  --text-color: #000;
  --dark-background-color: #012139;
  --border-color: #DDE3E3;
  --nav-background-color: #F4F6F5;
  --negative-color: #b41a1a;

  /* fonts */
  --body-font-family: 'Source Sans Pro', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-l: 18px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 27px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;

  /* nav height */
  --nav-height: 141px;
  --breadcrumbs-height: 69px; 
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

img {
  width: auto;
  height: auto;
}

body header {
  height: var(--nav-height);
  grid-area: header;
}

body.commerce-page header {
  height: calc(var(--nav-height) + var(--breadcrumbs-height));
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

.account-nav {
  grid-area: accountnav;
}



h1, h2, h3,
h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { 
  font-size: var(--heading-font-size-xxl); 
  line-height: 2.5em; 
  font-weight: 700; 
}

h2 { 
  font-size: var(--heading-font-size-xl); 
  line-height: 2em; 
  font-weight: 600; 
}

h3 {
  font-size: var(--heading-font-size-l); 
  line-height: 1.6875em; 
  font-weight: 600; 
}

h4 { 
  font-size: var(--heading-font-size-m); 
  line-height: 1.2em; 
  font-weight: 600; 
}

h5 { 
  font-size: var(--heading-font-size-s); 
  line-height: 1.125em; 
  font-weight: 400; 
}

h6 { 
  font-size: var(--heading-font-size-xs); 
  line-height: 1.125em; 
  font-weight: 400; 
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  font-family: var(--font-family-body);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal; 
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 

a.button.negative, button.negative {
  background-color: var(--negative-color);
  color: var(--highlight-background-color);
} 


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main input:disabled {
  border: 1px solid var(--border-color);
}

main input[type=checkbox] {
  display: inline-block;
  width: 3rem;
}

main .section {
  padding: 16px;
  position: relative;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  height: auto;
}

/* Loader */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--link-color);
  color: var(--link-color);
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--link-color);
  color: var(--link-color);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--link-color);
  color: var(--link-color);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: var(--link-color);
  }

  50%, 100% {
    background-color: #A1C4D3;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 36px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  }

  h1 { line-height: 60px; }
  h2 { line-height: 44px; }
  h3 { line-height: 38px; }
  h4 { line-height: 34px;}
  
  h5 { 
    line-height: 30px; 
    font-weight: 600; 
  }
  
  h6 { line-height: 28px; }
  
  .section > div {
    max-width: 1200px;
    margin: auto;
  }

  main .section {
    padding: 16px;
  }

}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

@media (min-width: 900px) {
  body.account {
    display: grid;
    grid-template-areas: 'header header' 'breadcrumbs breadcrumbs' 'accountnav main' 'footer footer';
    grid-template-columns: 375px 1fr;
  }  
}


main .section picture.section-background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

main .section picture.section-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .section.background-image .default-content-wrapper {
  background-color: #fffc;
  margin: 16px;
  padding: 16px;
}

@media (min-width: 900px) {
  main .section picture.section-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main .section.background-image .default-content-wrapper {
    width: 60%;
    max-width: 600px;
    margin: 32px;
    padding: 32px;
  }
    
}