div.product-wrapper {
    max-width: 1200px;
    padding: 10px;
}

.product .product-block {
    grid-area: details;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product .product-block h3 {
    margin: 0;
}

.product .product-block .details .catalog {
    margin-top: 15px;
    font-size: var(--body-font-size-s);
}

.product .product-block .details .manufacturer {
    min-height: 26px;
}

.product .product-block .details .name h3 {
    min-height: 38px;
}

/* images */

.product .product-images-wrapper {
    grid-area: images;
}

.product .product-images {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }  

.product .product-images > picture {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
  }
  
.product picture img {
    min-width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.product .product-images::-webkit-scrollbar {
      display: none;
    }
  

.product .product-images-buttons {
    text-align: center;
    margin-top: -40px;
    position: absolute;
    display: flex;
    right: 0;
    left: 0;
    justify-content: center;
  }
  
.product .product-images-buttons button {
    display: block;
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--highlight-background-color);
  }
  
.product .product-images-buttons button.selected {
    background-color: var(--link-color);
}

.product .product-config {
    grid-area: cart;
}

.product div.not-in-catalog {
    display: none;
    color: var(--negative-color);
}

.product div.not-in-catalog.visible {
    display: block;
}

.product .product-config > div {
    padding: 32px 0;
    width: 100%;
}

.product-option-radios {
    padding: 12px 0;
}

.product .product-selected-image {
    display: none;
}

.product .product-config h3 {
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);      
}

.product .product-config input[type='radio'] {
    display: none;
}

.product .product-config input[type='radio'] + label {
    text-overflow: ellipsis;
    padding: 0 16px;
    border: 1px solid var(--text-color);
    min-width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 16px;
}

.product .product-config input[type='radio']:checked + label {
    background-color: var(--text-color);
    color: var(--background-color);
}

.product .product-config .cart {
    border-left: none;
    padding: 16px 0;
    min-height: 130px;
}

.product .product-config .cart .cart-loader {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .product-config .cart .cost .numericuom{
    font-weight: 700;
}

.product .product-config .cart > div:not(.not-in-catalog){
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.product .product-config .cart .signin{
   font-size: var(--body-font-size-m);
   color: var(--link-color);
   text-decoration: underline;
   cursor: pointer;
}

.product .product-config .cart .stock {
    gap: 20px;
}

.product .product-config .cart .stock .status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product .product-config .cart .stock a {
    font-weight: 600;
    font-size: var(--body-font-size-s);
    text-decoration: underline;
    line-height: 35px;
}

.product .product-config .cart .stock .status .icon {
    width: 20px;
}

.product .product-config .cart .action .quantity {
    width: 80px;
    text-align: center;
    margin-bottom: 0;
}

.product .product-config .cart .action .quantity:disabled {
    opacity: 0.5;
}

.product .product-config .cart .action button {
    width: 200px;
}

.product .product-config .cart .requirements {
    margin-top: 20px;
    font-weight: 300;
    font-size: var(--body-font-size-s);
}

.product .product-overview {
    grid-area: overview;
    margin-top: 50px;
    padding-bottom: 40px;
    border-top: 2px solid var(--border-color);
}

@media (min-width: 900px) {
    div.product-wrapper {
        padding: 16px;
    }

    .product {
        display: grid;
        grid-template-areas: 
            'details cart' 'overview overview';
        grid-template-columns: 1fr 350px;
        padding-top: 10px;
    }


    .product .product-block {
        padding-right: 20px;
        flex-direction: row;
    }

    .product .product-heading {
        margin-top: 64px;
    }

    .product .product-images-wrapper {
        display: flex;
    }

    .product picture img {
        min-width: 274px;
        padding-right: 30px;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .product .product-images {
        flex-direction: column;
        scroll-snap-type: unset;
        overflow-x: unset;    
    }
    
    .product .product-images-buttons {
        display: none;
    }

    .product .product-selected-image {
        display: block;
        max-width: 640px;
        max-height: 800px;
    }

    .product .product-images > picture {
        width: 136px;
        margin: 8px;
        flex-shrink: 1;
    }

    .product picture img {
        max-width: 274px;
        padding-right: 20px;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .product .product-images > picture.selected img {
        box-shadow: 0 0 5px 2px var(--link-color);
    }

    .product .product-config .cart {
        border: 2px solid var(--border-color);
        padding: 20px;
        box-sizing: border-box;
    }
}